:root {
  --color-gray-light: #f8f9fa;
  --color-black: #0c0c0c;

  --color-blue: #00a0ff;
  --color-green: #0ad403;
  --color-red: #c70b0b;

  --color-purple-light: #c7a2ff;
  --color-purple: #4d1ebb;
  --color-purple-dark: #220049;

  --spacing-large: 50px;
  --border-radius: 5px;
  --box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5) inset;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  color: var(--color-gray-light);
  padding: var(--spacing-large);
  font-family: sans-serif;
  background-color: var(--color-purple-dark);
}
